<ActionBar title=" " class="action-bar">
    <ActionItem ios.position="left"
                android.position="Disconnect"
                (tap)="disconnect()">
        <Button  text="Disconnect" class="button button-danger m-2" ></Button>
    </ActionItem>
    <ActionItem ios.position="left"
                android.position="actionbar"
                (tap)="showPrinter()">
        <Button  text="Status" [class]="printerStatus" ></Button>
    </ActionItem>
    <ActionItem ios.position="left"
                android.position="actionbar"
                (tap)="clearFiles()">
        <Button  text="Clear" class="button button-neutral m-2" ></Button>
    </ActionItem>
</ActionBar>
<StackLayout class="page" (loaded)="loadPrinter()">
    <Button text="Connect to Printer" (tap)="selectPrinter()" class="button m-2"></Button>
    <Button text="Print Latest Receipt" (tap)="printLatest()" [class]="printerStatus" style="font-size: 20px;"></Button>
    <ListView [items]="files" class="list-group">
        <ng-template let-item="item" let-i="index">
            <Label (tap)="readFile(item)" text="{{i+1}}. {{item.lastModefied | date:'M/d/yy, hh:mm a'}} - {{transIdTranslate(item.name)}}"
                   class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>
